.topic-item {
    padding: 15px 0;
    margin: 0 15px;
    background-color: #fff;
    position: relative;
    display: flex;
}
.topic-item:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e4e4e4;
    transform: scale(1 , .5);
}
.avatar-box {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}
.avatar {
    display: block;
    width: 100%;
    height: 100%;
}
.topic-item-content {
    flex: 1;
}
.item-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    color: #333;
}
.segmetation {
    margin-bottom: 8px;
}
.segmetation:last-child {
    margin-bottom: 0;
}
.item-author {
    font-size: 14px;
    color: #999;
}
.item-publish-date {
    font-size: 14px;
    color: #999;
}
.topic-link {
    flex: 1;
    display: flex;
}